*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}


body{
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}

.chair_mega{
    width: 600px;
    height: 600px;  
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;

}


.top_half{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

#canvas1{
    border-top: 10px solid rgb(233, 206, 56); 
    border-left: 20px solid rgb(233, 206, 56); 
    border-right: 20px solid rgb(233, 206, 56);
    border-bottom:  2px solid rgb(233, 206, 56);
    position: relative; 
    top: 0; left: 0;
    width: 300px;
    height: 130px; 
    background: rgb(43, 63, 155); 
    box-shadow: -4px 0px rgb(233, 206, 56); 

}

.canvas2parent{
    border-left: 20px solid rgb(233, 206, 56); 
    border-right: 20px solid rgb(233, 206, 56); 
    border-bottom: 3px solid rgb(233, 206, 56); 
    position: absolute; 
    margin-top: 200px; 
    margin-left: 65px
    ; 
    box-shadow: -7px 10px  rgb(233, 206, 56); 
}



.legs{
    position: relative; 

}

.leg1{
    position: absolute; 
    margin-left: 0;  
    height: 150px; 
    width: 10px; 
    margin-top: 50px; 
    margin-left: 170px; 
    z-index: -1; 
    background-color: rgb(226, 130, 130);
    border-radius: 45%; 
}

.leg2{
    position: absolute; 
    margin-left: 0;  
    height: 150px; 
    width: 10px; 
    margin-top: 50px; 
    margin-left: -50px; 
    z-index: -1; 
    background-color: rgb(226, 130, 130);
    border-radius: 45%; 
}

.leg3{
    position: absolute; 
    margin-left: 0;  
    height: 150px; 
    width: 10px; 
    margin-top: -20px; 
    margin-left: 90px; 
    z-index: -1; 
    background-color: rgb(226, 130, 130);
    border-radius: 45%; 
}

.leg4{
    position: absolute;  
    height: 150px; 
    width: 10px; 
    margin-top: -20px; 
    margin-left: -120px; 
    z-index: -1; 
    background-color: rgb(226, 130, 130);
    border-radius: 45%; 
}